<h1>Textbook Ads</h1>


<% @ads.each do |ad| %>
  <div class="ad">
	<h3><%= link_to ad.textbook.name, ad_path(ad) %>, <%= ad.textbook.edition %> ed</h3>
    
	<span class="typeprice">
		<%= if ad.type1 = 0 
				 	
			simple_format('Buying for <span class="price">$' + ad.price.to_s + '</span>')
		elsif ad.type1 = 1
			simple_format('Selling for <span class="price">$' + ad.price.to_s + '</span>')
		end

		%>
		</span>
		
	<span class="user-info"></span>

</div>
<% end %>

<p>Nothing that sparks your interest? Head over to <%= link_to 'textbooks', textbooks_path %> to create a buy or sell ad!</p>
<br />

