<p>
  <b>From:</b>
  <%= @user.login %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>


<%= button_to "Delete", message_path(@message), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %>
<%= link_to 'Back', messages_path %>
